
<MudNavGroup Icon="@Icons.Material.Rounded.Person" Title="User">
    <AuthorizeView>
        <Authorized>
            <MudText Typo="Typo.body1">Welcome @context.User.Identity?.Name</MudText>
        </Authorized>   
        <NotAuthorized>
            <MudNavLink Href="/account/login" Match="NavLinkMatch.All">Login</MudNavLink>
            <MudNavLink Href="/account/register" Match="NavLinkMatch.All">Register</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavGroup>

@* @using Microsoft.AspNetCore.Components.Authorization *@
@* @using Microsoft.AspNetCore.Components.Web *@
@* @using AuthBlocksWeb.Components.Account.Shared *@
@* @inject NavigationManager NavigationManager *@
@* *@
@* <nav class="navbar navbar-expand-md border-bottom box-shadow"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href=""> *@
@*             @if (BrandImage != null) *@
@*             { *@
@*                 <img alt="TCB Council Logo" src="@BrandImage" /> *@
@*             } *@
@*             @BrandName *@
@*         </a> *@
@*         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAccount" aria-controls="navbarAccount" aria-expanded="false" aria-label="Toggle navigation"> *@
@*             <span class="bi bi-person-fill-gear"></span> *@
@*         </button> *@
@*         <div class="collapse navbar-collapse justify-content-end" id="navbarAccount"> *@
@*             <div class="navbar-nav"> *@
@*                 @foreach (var item in NavigationItems) *@
@*                 { *@
@*                     <div class="nav-item px-3"> *@
@*                         <a class="nav-link" href="@item.Href"> *@
@*                             @if (!string.IsNullOrEmpty(item.Icon)) *@
@*                             { *@
@*                                 <span class="@item.Icon" aria-hidden="true"></span> *@
@*                             } *@
@*                             <small>@item.Text</small> *@
@*                         </a> *@
@*                     </div> *@
@*                 } *@
@* *@
@*                 <div class="nav-item px-3"> *@
@*                     <a class="nav-link" href="auth"> *@
@*                         <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> *@
@*                         <AuthorizeView> *@
@*                             <Authorized> *@
@*                                 <small>Authorized</small> *@
@*                             </Authorized> *@
@*                             <NotAuthorized> *@
@*                                 <small>Unauthorized</small> *@
@*                             </NotAuthorized> *@
@*                         </AuthorizeView> *@
@*                     </a> *@
@*                 </div> *@
@* *@
@*                 <AuthorizeView> *@
@*                     <Authorized> *@
@*                         <div class="nav-item px-3"> *@
@*                             <span class="nav-link"> *@
@*                                 <span class="bi bi-person-fill" aria-hidden="true"></span> *@
@*                                 <small>@context.User.Identity?.Name</small> *@
@*                             </span> *@
@*                         </div> *@
@*                         <div class="nav-item px-3"> *@
@*                             <LogoutButton /> *@
@*                         </div> *@
@*                     </Authorized> *@
@*                     <NotAuthorized> *@
@*                         <div class="nav-item px-3"> *@
@*                             <a class="nav-link" href="/account/register"> *@
@*                                 <span class="bi bi-person" aria-hidden="true"></span> *@
@*                                 <small>Register</small> *@
@*                             </a> *@
@*                         </div> *@
@*                         <div class="nav-item px-3"> *@
@*                             <a class="nav-link" href="/account/login"> *@
@*                                 <span class="bi bi-person-badge" aria-hidden="true"></span> *@
@*                                 <small>Login</small> *@
@*                             </a> *@
@*                         </div> *@
@*                     </NotAuthorized> *@
@*                 </AuthorizeView> *@
@* *@
@*                 @ChildContent *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </nav> *@
@* *@
@* @code { *@
@*     [Parameter] *@
@*     public string BrandName { get; set; } = "My App"; *@
@*     [Parameter] *@
@*     public string? BrandImage { get; set; } = null; *@
@* *@
@*     [Parameter] *@
@*     public List<NavMenuItem> NavigationItems { get; set; } = new(); *@
@* *@
@*     [Parameter] *@
@*     public RenderFragment? ChildContent { get; set; } *@
@* *@
@*     public class NavMenuItem *@
@*     { *@
@*         public string Text { get; set; } = ""; *@
@*         public string Href { get; set; } = ""; *@
@*         public string Icon { get; set; } = ""; *@
@*         public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix; *@
@*     } *@
@* } *@